<% include ../partials/head.ejs %>
<body>
<% include ../partials/headercat.ejs %>
  <main>
    <div class="container" style="margin-top: 40px">
      <form class="col s12" action="/auth/register" method="post">
        <div class="input-field">
          <label for="username">Username:</label>
          <input type="text" name="username" required>
        </div>
        <div class="input-field">
          <label for="password">Password:</label>
          <input type="password" name="password" required>
        </div>
        <div class="input-field">
          <label for="firstName">First Name:</label>
          <input type="text" name="firstName" required>
        </div>
        <div class="input-field">
          <label for="lastName">Last Name:</label>
          <input type="text" name="lastName" required>
        </div>
        <div class="input-field">
          <label for="email">Email:</label>
          <input type="text" name="email" required>
        </div>
        <div class="input-field">
          <label for="description">Tell us about yourself:</label>
          <input type="text" name="description" required>
        </div class="input-field">
        <div class="input-field">
          <label for="profile">Profile Page:</label>
          <input type="text" name="profile" placeholder="github, portfolio, blog..." required>
        </div class="input-field">
        <div class="input-field">
          <label for="skills">Top Skills:</label>
          <input type="text" name="skills" placeholder="UX, server logic, page design.." required>
        </div>
        <div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </main>
  <% include ../partials/jsdefaults.ejs %>
</body>
</html>
