<header>
  <% if (!user) { %>
    <header class="#212121 grey lighten-4">
  <nav>
    <div class="nav-wrapper #212121 grey lighten-4">
      <a href="/" class="brand-logo">Tech.ie</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../../../../auth/register">Register</a></li>
        <li><a href="../../../../auth/login">Login</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="../../../../">Home</a></li>
        <li><a href="../../../../auth/register">Register</a></li>
        <li><a href="../../../../auth/login">Login</a></li>
      </ul>
    </div>
  </nav>
      <% } else { %>
  <nav>
    <div class="nav-wrapper #212121 grey lighten-4">
      <a href="/" class="brand-logo">Tech.ie</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../../../../user">Dashboard</a></li>
        <li><a href="../../../../auth/logout">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="../../../../">Home</a></li>
        <li><a href="../../../../user">Dashboard</a></li>
        <li><a href="../../../../auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
      <% } %>
</header>
