<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
  <% include partials/header.ejs %>
    <h1 class="center">Tech.isEveryone</h1>
    <div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
    </div>
    <div class="section">
    <div class="container">
    <div class="row">
      <div class="col s4">
      <div class="center-promo">
        <i class="large material-icons">flash_on</i>
        <p class="promo-caption">Speeds Up Development</p>
        <p class="light-center">We did most of the heavy lifting for you
        to provide a default stylings that incorporate our custom components.
        Additionally, we refined animations and transitions to provide a smoother
        experience for developers.</p>
      </div>
      </div>
      <div class="col s4">
      <div class="center-promo">
        <i class="large material-icons">group</i>
        <p class="promo-caption">User Experience Focused</p>
        <p class="light-center">By utilizing elements and principles of Material
        Design, we were able to create a framework that incorporates components
        and animations that provide more feedback to users. Additionally, a
        single underlying responsive system across all platforms allow for a more
        unified user experience.</p>
      </div>
      </div>
      <div class="col s4">
      <div class="center-promo">
        <i class="large material-icons">settings</i>
        <p class="promo-caption">Easy to Work With</p>
        <p class="light-center">We have provided detailed documentation as well as
        specific code examples to help new users get started. We are also always
        open to feedback and can answer any questions a user may have about
        Materialize.</p>
      </div>
      </div>
    </div>
    </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
    </div>
    <div>
      <div class="container icons-container col s10">
        <a href="categories/Languages">
          <div class="icons hoverable col s2" >
            <img  class="language-icon icon" src="images/icons/languageicon.png" />
              <p class="category-labels">Languages</p>
          </div>
        </a>
        <a href="categories/Libraries">
          <div class="icons hoverable col s2">
            <img class="library-icon icon" src="images/icons/libraryicon.jpg" />
              <p class="category-labels">Libraries</p>
          </div>
        </a>
        <a href="categories/Frameworks">
          <div class="icons hoverable">
            <img class="framework-icon icon" src="images/icons/frameworkicon.png" />
              <p class="category-labels">Frameworks</p>
          </div>
        </a>
        <a href="categories/Styling">
          <div class="icons hoverable">
            <img class="styling-icon icon" src="images/icons/stylingicon.jpg" />
              <p class="category-labels">Styling</p>
          </div>
        </a>
        <a href="categories/Modules_and_Components">
          <div class="icons hoverable col s2">
            <img class="module-icon icon" src="images/icons/moduleicon.png" />
              <p class="modules-label category-label">Modules and Components</p>
          </div>
        <a href="categories/Plugins">
          <div class="icons hoverable">
            <img class="plugin-icon icon" src="images/icons/pluginicon.jpg" />
              <p class="category-labels">Plugins</p>
          </div>
        </a>
        <a href="categories/APIs">
          <div class="icons hoverable">
            <img class="api-icon icon" src="images/icons/apiicon.jpg" />
              <p class="category-labels">APIs</p>
          </div>
        </a>
        <a href="categories/Collaboration_Tools">
          <div class="icons hoverable">
            <img class="collaboration-icon icon" src="images/icons/collaborationicon.png" />
              <p class="category-labels">Collaboration Tools</p>
          </div>
        </a>
        <a href="categories/Text_Editors">
          <div class="icons hoverable">
            <img class="editor-icon icon" src="images/icons/texteditoricon.jpg" />
              <p class="category-labels">Text Editors</p>
          </div>
        </a>
        <a href="categories/Productivity">
          <div class="icons hoverable">
            <img class="productivity-icon icon" src="images/icons/productivityicon.png" />
              <p class="category-labels">Productivity</p>
          </div>
        </ col s10a>
      </div>
      </div>
    <div>
    </div>
    <% if (user) { %>
    <button ><a href="/technologies/new">Add New Technology<i class="material-icons right">add</i></a></button>
    <% } %>
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
