<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
  <% include partials/header.ejs %>
    <h1 class="center"><a class="modal-trigger" href="#modal1">Tech</a>.isEveryone</h1>
    <div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
    </div>
    <div class="section">
    <div class="container">
    <div class="row">
      <div class="col s4">
      <div class="center-promo">
        <i class="large material-icons">flash_on</i>
        <p class="promo-caption">Our Mission</p>
        <p class="light-center">Our goal was to create a central place for fellow
        techies to provide a commentary on the different technologies that they use.
        This would inform the community as to what technologies are trending, essential,
        obsolete, or just plain cool.</p>
      </div>
      </div>
      <div class="col s4">
      <div class="center-promo">
        <i class="large material-icons">group</i>
        <p class="promo-caption">The Dev Community</p>
        <p class="light-center">Developers are always drawing inspiration from one another.
        Collaboration is a cornerstone of coding. It was immediately apparent to us that
        the more opportunities the community has to interact and share their ideas, the more
        everyone will benefit.</p>
      </div>
      </div>
      <div class="col s4">
      <div class="center-promo">
        <i class="large material-icons">settings</i>
        <p class="promo-caption">User Focused</p>
        <p class="light-center">We designed Tech.ie with a focus on user experience and sleek
        interfaces. Built by developers, for developers. We are hoping to make this an open source
        application so that it can grow into the many possibilities that are apparent with this
        platform.</p>
      </div>
      </div>
    </div>
    </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
    </div>
    <div>
      <div class="container icons-container col s12">
        <a href="categories/Languages">
          <div class="icons hoverable col s2 m2" >
            <img  class="language-icon icon" src="images/icons/languageicon.png" />
              <p class="category-labels">Languages</p>
          </div>
        </a>
        <a href="categories/Libraries">
          <div class="icons hoverable col s2">
            <img class="library-icon icon" src="images/icons/libraryicon.jpg" />
              <p class="category-labels">Libraries</p>
          </div>
        </a>
        <a href="categories/Frameworks">
          <div class="icons hoverable col s2">
            <img class="framework-icon icon" src="images/icons/frameworkicon2.png" />
              <p class="category-labels">Frameworks</p>
          </div>
        </a>
        <a href="categories/Styling">
          <div class="icons hoverable col s2">
            <img class="styling-icon icon" src="images/icons/stylingicon.jpg" />
              <p class="category-labels">Styling</p>
          </div>
        </a>
        <a href="categories/Modules_and_Components">
          <div class="icons hoverable col s2">
            <img class="module-icon icon" src="images/icons/moduleicon.png" />
              <p class="modules-label category-label">Modules and Components</p>
          </div>
        <a href="categories/Plugins">
          <div class="icons hoverable col s2">
            <img class="plugin-icon icon" src="images/icons/pluginicon.jpg" />
              <p class="category-labels">Plugins</p>
          </div>
        </a>
        <a href="categories/APIs">
          <div class="icons hoverable col s2">
            <img class="api-icon icon" src="images/icons/apiicon.jpg" />
              <p class="category-labels">APIs</p>
          </div>
        </a>
        <a href="categories/Collaboration_Tools">
          <div class="icons hoverable col s2">
            <img class="collaboration-icon icon" src="images/icons/collaborationicon.png" />
              <p class="category-labels">Collaboration Tools</p>
          </div>
        </a>
        <a href="categories/Text_Editors">
          <div class="icons hoverable col s2">
            <img class="editor-icon icon" src="images/icons/texteditoricon.jpg" />
              <p class="category-labels">Text Editors</p>
          </div>
        </a>
        <a href="categories/Productivity">
          <div class="icons hoverable col s2">
            <img class="productivity-icon icon" src="images/icons/productivityicon2.png" />
              <p class="category-labels">Productivity</p>
          </div></a>
      </div>
      </div>
    <div>
    </div>

<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>tech·ie<br>
      /ˈtekē/</h4>
      <p>noun - informal <br>
         a person who is expert in or enthusiastic about technology, especially computing.<br><br>
         Origin: <br>
         1960s: from tech + -ie. First recorded as a US slang term for a technical college student, the word was later used as British service slang, denoting a technician. Sense 1 dates from the 1980s.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <footer>
    <div class="flexFooter">
      <div>
        <p><i class="fa fa-copyright" aria-hidden="true"></i> Created by Jerel Crespo, Mimi Klein and Matt Kersner</p>
      </div>
      <div>
        <a href="https://github.com/mattkersner/techie">
        <i class="fa fa-github-alt fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
  </footer>

    <% include partials/jsdefaults.ejs %>
  </body>
</html>
