<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
  <% include partials/header.ejs %>
    <h1 class="center"><a class="modal-trigger" href="#modal1">Tech</a>.isEveryone</h1>
    <div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
    </div>
    <div class="section">
    <div class="container">
    <div class="row">
      <div class="col s4">
      <div class="center-promo">
        <i class="large material-icons">flash_on</i>
        <p class="promo-caption">Our Mission</p>
        <p class="light-center">Our goal was to create a central place for fellow
        techies to provide a commentary on the different technologies that they use.
        This would inform the community as to what technologies are trending, essential,
        obsolete, or just plain cool.</p>
      </div>
      </div>
      <div class="col s4">
      <div class="center-promo">
        <i class="large material-icons">group</i>
        <p class="promo-caption">The Dev Community</p>
        <p class="light-center">Developers are always drawing inspiration from one another.
        Collaboration is a cornerstone of coding. It was immediately apparent to us that
        the more opportunities the community has to interact and share their ideas, the more
        everyone will benefit.</p>
      </div>
      </div>
      <div class="col s4">
      <div class="center-promo">
        <i class="large material-icons">settings</i>
        <p class="promo-caption">User Focused</p>
        <p class="light-center">We designed Tech.ie with a focus on user experience and sleek
        interfaces. Built by developers, for developers. We are hoping to make this an open source
        application so that it can grow into the many possibilities that are apparent with this
        of platform.</p>
      </div>
      </div>
    </div>
    </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
    </div>
    <div>
      <a href="categories">Categories Index - All</a>
      <ul>
        <li><a href="categories/Languages">Language Icon</a></li>
        <li><a href="categories/Libraries">Library Icon</a></li>
        <li><a href="categories/Frameworks">Framework Icon</a></li>
        <li><a href="categories/Styling">Styling Icon</a></li>
        <li><a href="categories/Modules_and_Components">Module Icon</a></li>
        <li><a href="categories/Plugins">Plugin Icon</a></li>
        <li><a href="categories/APIs">API Icon</a></li>
        <li><a href="categories/Collaboration_Tools">Collaberation Tools Icon</a></li>
        <li><a href="categories/Text_Editors">Text Editor Icon</a></li>
        <li><a href="categories/Productivity">Productivity Icon</a></li>
      </ul>
    </div>
    <div>
      <a href="technologies">Technologies Index - All</a>
    </div>
    <% if (user) { %>
    <button ><a href="/technologies/new">Add New Technology<i class="material-icons right">add</i></a></button>
    <% } %>

<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>tech·ie<br>
      /ˈtekē/</h4>
      <p>noun - informal <br>
         a person who is expert in or enthusiastic about technology, especially computing.<br><br>
         Origin: <br>
         1960s: from tech + -ie. First recorded as a US slang term for a technical college student, the word was later used as British service slang, denoting a technician. Sense 1 dates from the 1980s.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

    <% include partials/jsdefaults.ejs %>
  </body>
</html>
