<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>
<body>
  <main>
  <p>Hello, world! My name is <%= profile.username %></p>
  <p>Welcome to my profile, <%= user.username %></p>
  </main>
</body>
</html>
