<% include ../partials/head.ejs %>
<body>
<div>
<ul>Temp Navbar:
  <li><a href="/">Back to Home</a></li>
  <li><a href="/auth/logout">Logout</a></li>
</ul>
</div>
  <main>
  <p>Hello, world</p>
  </main>
</body>
</html>
