button {
  cursor: pointer;
}

.nav-wrapper {
  a {
  color: black;
  }
}

.btn {
  background-color: black;
  &:hover {
    background-color: grey;
  }
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}

textarea.materialize-textarea:focus:not([readonly])+label {
  color: black;
}

  /* label color */
   .input-field label {
     color: black;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: black;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: black;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   /* invalid color */
   .input-field input[type=password].invalid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   /* label focus color */
   .input-field input[type=textarea]:focus + label {
     color: black;
   }
   /* label underline focus color */
   .input-field input[type=textarea]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   /* valid color */
   .input-field input[type=textarea].valid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   /* invalid color */
   .input-field input[type=textarea].invalid {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: black;
   }
