<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
  <p>You've already favorited that technology!</p>
  <p>Return to the <a href="<%= '/' %>">Home Page</a>
  <p>Return to your <a href="<%= '/user' %>">Dashboard</a>
</body>
</html>



