<% include ../partials/head.ejs %>
<h1 class="center">Technologies</h1>
<button ><a href="/technologies/new">Add New Technology<i class="material-icons right">add</i></a></button>
<ul>
  <% technology.forEach(function(technology) { %>
    <li>
      <a href="<%= `/technologies/${technology.id}` %>"><%= technology.name %></a>
    </li>
        <% }); %>
</ul>

<a href="<%= '/' %>">Back to Home</a>


