<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
<% include ../partials/headercat.ejs %>
<main>
    <h1 class="center">APIs</h1>
    <div class="center">
     <a href="#!" class="btn" onclick="Materialize.showStaggeredList('#staggered')">Click Me</a>
     </div>
     <div class="container">
    <ul id="staggered" class="collection">
    <% techs.forEach(function(data) { %>
      <li style="opacity: 0" class="center collection-item"><a href="<%= `/technologies/${data.id}` %>"><%= data.name %></a></li>
    <% }); %>
    </ul>
    </div>
</main>
<% include ../partials/jsdefaults.ejs %>
</body>
</html>
