<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
<main>
    <h1>Languages:</h1>
    <ol>
    <% techs.forEach(function(data) { %>
      <li><a href="<%= `/technologies/${data.id}` %>"><%= data.name %></a></li>
    <% }); %>
    </ol>
</main>
<div>
  <a href="<%= '/categories' %>">Back to Categories</a>
</div>
<div>
  <a href="<%= '/' %>">Back to Home</a>
</div>
</body>
</html>
