<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
<% include ../partials/headercat.ejs %>
<main>
    <h1 class="center">Productivity</h1>
     <div class="container">
    <ul id="staggered" class="collection">
    <% techs.forEach(function(data) { %>
      <li class="center collection-item"><a style="font-size: 1.2em;" href="<%= `/technologies/${data.id}` %>"><%= data.name %></a></li>
    <% }); %>
    </ul>
    </div>
</main>
<% include ../partials/jsdefaults.ejs %>
</body>
</html>
