<% include ../partials/head.ejs %>
<!DOCTYPE html>
<html>
<body>
<main>
    <h1>Styling:</h1>
    <p>Todo: pull in from technology db</p>
</main>
<div>
  <a href="<%= '/categories' %>">Back to Categories</a>
</div>
<div>
  <a href="<%= '/' %>">Back to Home</a>
</div>
</body>
</html>
